# dependencies
node_modules

# production
/dist
*.d.ts

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# temp data files
/data
